<nav
  [ngClass]="{ 'bg-black': token, 'text-white': token }"
  class="flex p-4 items-center md:justify-evenly justify-between"
>
  <h2
    class="text-2xl font-bold cursor-pointer"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    Rental
  </h2>
  <ul class="hidden bg-inherit md:flex">
    <a class="mr-4" [routerLink]="['/items']">Nearby Rentals</a>

    <a class="mr-4" [routerLink]="['/add-item']">Add Rentally</a>

    <a [routerLink]="['/posts']">Ask Others</a>
  </ul>

  @if (token) {
  <div class>
    <button
      type="button"
      [routerLink]="['/login']"
      class="text-white bg-black border border-white focus:outline-none hover:bg-gray-900 focus:ring-4 focus:ring-gray-100 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      sign in
    </button>
    <button
      type="button"
      [routerLink]="['/signup']"
      class="text-black bg-white border border-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      sign up
    </button>
  </div>
  }@else {
  <div class="flex flex-2 items-center">
    <span
      class="bg-black h-fit me-2 px-2 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500 notifiable"
    >
      <i class="fa-regular fa-message text-white text-lg"></i>
      <div class="notification">5</div>
    </span>

    <span
      class="bg-black h-fit me-2 px-2 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500 notifiable"
    >
      <i class="fa-regular fa-bell text-white text-lg"></i>
      <div class="notification">1</div>
    </span>

    <div class="size-12 ml-4 overflow-hidden rounded-full">
      <img
        src="assets/cat.jpg"
        [routerLink]="['/dashboard']"
        class="w-full"
        alt="profile pecture"
      />
    </div>
  </div>

  }
</nav>
