<section class="mx-auto w-10/12">
    <div class="flex flex-col lg:flex-row my-12 gap-8">
        <div class="w-7/12">
            <swiper-container autoplay="true" style="--swiper-navigation-color: #000; --swiper-pagination-color: #000" class="mySwiper"
            thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
            <swiper-slide>
              <img class="w-full block h-[550px] rounded-lg" src="./assets/WhatsApp Image 2024-10-01 at 12.19.41_2184541d.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block h-[550px] rounded-lg" src="./assets/WhatsApp Image 2024-10-01 at 12.19.54_7b332089.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block h-[550px] rounded-lg" src="./assets/WhatsApp Image 2024-10-01 at 12.20.08_fd39e3c6.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block h-[550px] rounded-lg" src="./assets/WhatsApp Image 2024-10-01 at 12.20.20_d177a05c.jpg" />
            </swiper-slide>

          </swiper-container>
        
          <swiper-container class="mySwiper2 mt-3" space-between="10" slides-per-view="4" free-mode="true"
          watch-slides-progress="true">
            <swiper-slide>
              <img class="w-full block rounded-lg h-36" src="./assets/WhatsApp Image 2024-10-01 at 12.19.41_2184541d.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block rounded-lg h-36" src="./assets/WhatsApp Image 2024-10-01 at 12.19.54_7b332089.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block rounded-lg h-36" src="./assets/WhatsApp Image 2024-10-01 at 12.20.08_fd39e3c6.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img class="w-full block rounded-lg h-36" src="./assets/WhatsApp Image 2024-10-01 at 12.20.20_d177a05c.jpg" />
            </swiper-slide>

          </swiper-container>

          
        
        </div>
        <div class="bg-[#f6f5f1] relative flex items-center flex-col w-5/12 p-20">
            <span class="absolute w-12 h-12 rounded-full end-0 top-0 my-4 mx-4 bg-white flex justify-center items-center"><i class="fa-regular fa-heart"></i></span>
            <div class="w-full my-3">
                <label for="location" class="text-lg"><i class="fa fa-location-dot mb-2"></i> location</label>
                <input type="text" name="" class="p-4 w-full rounded-md border-none" placeholder="location" id="location">
            </div>
            <div class="w-full my-3">
                <label for="location" class="text-lg"><i class="fa-solid fa-calendar mb-2"></i> Pick-Up</label>
                <div class="w-full flex gap-4">
                  <input type="date" name="" class="p-4 w-8/12 rounded-md border-none" placeholder="location" id="location">
                  <input type="time" name="" class="p-4 w-4/12 rounded-md border-none" placeholder="location" id="location">
                </div>
            </div>
            <div class="w-full my-3">
                <label for="location" class="text-lg"><i class="fa-solid fa-calendar mb-2"></i> drop-off</label>
                <div class="w-full flex gap-4">
                  <input type="date" name="" class="p-4 w-8/12 rounded-md border-none" placeholder="location" id="location">
                  <input type="time" name="" class="p-4 w-4/12 rounded-md border-none" placeholder="location" id="location">
                </div>
            </div>
            <h2 class="self-start my-4">Duration</h2>
            <div class="flex justify-between items-center w-full">
              <span class="text-gray-400">7.75 Hours</span>
              <span class="px-4 py-3 bg-white rounded-md shadow-md tracking-widest">{{'36.65' | currency}} </span>
            </div>
            <button class="w-full p-3 rounded-md uppercase bg-black text-white hover:text-black hover:bg-white transition-colors mt-4">book now</button>
        </div>
    </div>
    <div class="">
      <h2 class="uppercase font-bold text-2xl">bmw m2 2020</h2>

    </div>
</section>
