<div class="flex flex-col rounded-2xl w-96 bg-[#b3b3b3] shadow-xl">
    <figure class="flex justify-center items-center rounded-2xl">
        <img
            src="https://tailwind-generator.b-cdn.net/images/card-generator/tailwind-card-generator-card-preview.png"
            alt="Card Preview" class="rounded-t-2xl">
    </figure>
    <div class="flex flex-col p-8">
        <div class="text-3xl font-bold   text-[#000000] pb-6">Title</div>
        <div class=" text-lg   text-[#000000]">Color : Red</div>
        <div class="flex justify-end pt-6">
            <button
                class="bg-[#000000] text-[#ffffff]  font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Rent
                Now !</button>
        </div>
    </div>
</div>
